*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 48%;
    min-height: fit-content;
    height: auto;
    background: #2980B9;
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);
    border-radius:10px ;
    padding: 2rem;
    margin: auto;
    border: 1px solid black;
}
 
.container>h1{
    color:rgb(38, 156, 38);
}

.flex-box{
    display: flex;
    justify-content: space-between;
    width: 99%;
}

.width{
    width: 90%;
}

.form-control{
    border-radius: 0!important;
}
input[type="text"]:focus{
    box-shadow: none;
}
#todo{
    display: inline-block;
}

.btn{
    border-radius: 0;
    vertical-align: baseline;
}

.listbox{
    width: 96%;
    background-color: white;
    height: max-content;
    margin: auto;
    padding: 10px 7px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
i:hover{
    cursor: pointer;
}
.list{
    width: 100%;
}
.fa-heart{
    font-weight: 100;
}
.fa-heart:hover{
    font-weight: 500;
}
#heart{
    color: #d03535;
}